General Styling

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}

html{
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}

.topnav {
  background-color: #31081f70;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:x; 
    padding-left:2px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    
    background-color:white;
  }
  
  .container {
    padding: 0 5px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color:black;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
 #line{display: inline-block;

 } 

 .container {
  position: relative;
  text-align: center;
  color: white;
} 
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ho{
  margin-top: 3%;
  margin-bottom: 3;

}
#who{
  
  margin-bottom: 3%;
  margin-bottom: 3%;

}
 .social-footer {
  text-align: center;
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;  
} 

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0px;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.search {
  background-size: cover;
  background-position-y: 100%;
  height: 300px;
  margin-top: 50%;
}
.search-overlay {
  background-color: #31081f70;
  height: inherit;
}
.home-search-container {
  margin-top: 15%;
  color: white;
}
.home-search-container h1 {
  margin: 3% 0 3% 0;
}
/* end */

 /* featured routes */
.featured {
  height: 400px;
}
.featured .container {
  margin-top: 2%;
}
.featured h2 {
  margin-bottom: 2%;
}
.featured img {
  height: 200px;
}
.featured h3 {
  text-align: center;
}

#search1{
  width:100%;
  margin-bottom:15%;
}
#search2{
  width:100%;
  margin-bottom:15%;
}
#search3{
  width:100%;
  margin-bottom:15%;
} */

/* *footer */
#contacts img{
  width: 50px;
  height: 50px;
  display:flex;
  text-align: center;
}
#contacts ul li{
  display:inline-block;
  padding:40px 40px 40px;
  margin-top:-65px;
  margin-left: 100px;
}
footer{
  background-color: #31081f70;
  width: 100%;
  height:150px;
}
#contacts h3{
  margin-bottom:40px;
  color: white;
  text-align: center;
}
footer p{
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  color:white;
} 
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  align-items: center;
  font-style: italic;
  background-color: lightgray;
}
#on{
  color: black;
  background-color: white;
}
#of{
  color: black;
  background-color: white;
}